name: Run CI Tests
on: [push]
jobs:
  run-copywrite:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-copywrite@v1.1.2
      - name: verify copyright
        run: |
          copywrite headers --plan
  run-lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-golang@v1
        with:
          version-file: go.mod
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.64.8
          skip-cache: true
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - macos-26
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-golang@v1
        with:
          version-file: go.mod
      - name: Run Go Test
        run: |
          make test
      - name: Run E2E Test
        run: |
          make test-e2e
